RBX Alt Manager/FodyWeavers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Weavers">
    <xs:complexType>
      <xs:all>
        <xs:element name="Costura" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:all>
              <xs:element name="ExcludeAssemblies" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IncludeAssemblies" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="ExcludeRuntimeAssemblies" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="IncludeRuntimeAssemblies" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Unmanaged32Assemblies" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="Unmanaged64Assemblies" type="xs:string" minOccurs="0" maxOccurs="1" />
              <xs:element name="PreloadOrder" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="CreateTemporaryAssemblies" type="xs:boolean" />
            <xs:attribute name="IncludeDebugSymbols" type="xs:boolean" />
            <xs:attribute name="IncludeRuntimeReferences" type="xs:boolean" />
            <xs:attribute name="UseRuntimeReferencePaths" type="xs:boolean" />
            <xs:attribute name="DisableCompression" type="xs:boolean" />
            <xs:attribute name="DisableCleanup" type="xs:boolean" />
            <xs:attribute name="LoadAtModuleInit" type="xs:boolean" />
            <xs:attribute name="IgnoreSatelliteAssemblies" type="xs:boolean" />
            <xs:attribute name="ExcludeAssemblies" type="xs:string" />
            <xs:attribute name="IncludeAssemblies" type="xs:string" />
            <xs:attribute name="ExcludeRuntimeAssemblies" type="xs:string" />
            <xs:attribute name="IncludeRuntimeAssemblies" type="xs:string" />
            <xs:attribute name="Unmanaged32Assemblies" type="xs:string" />
            <xs:attribute name="Unmanaged64Assemblies" type="xs:string" />
            <xs:attribute name="PreloadOrder" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="VerifyAssembly" type="xs:boolean" />
      <xs:attribute name="VerifyIgnoreCodes" type="xs:string" />
      <xs:attribute name="GenerateXsd" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
</xs:schema>
